.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 99vw;
}

.about-me-content {
  display: flex;
  justify-content: center;
  gap: 4rem;
  max-width: 80%;
  max-height: 80%;
}

.about-me-text {
  color: #ffffff;
  padding-right: 3rem;
  max-height: 60%;
}

.about-me-title {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-me-blurb {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-subtitle {
  font-size: 1.2rem;
  color: #34e397;
  margin-bottom: 0.5rem;
}

.carousel {
  padding-top: 7.5rem;
}
