.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.about-me-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 7.5rem;
  overflow: auto;
}

.about-me-text {
  color: #ffffff;
  padding-right: 3rem;
  overflow-y: auto;
}

.about-me-title {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-me-blurb {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about-subtitle {
  font-size: 1.2rem;
  color: #34e397;
  margin-bottom: 0.5rem;
}
