.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.content {
  max-height: 60%;
  max-width: 75%;
  text-align: center;
}

.description {
  color: #e0e0e0;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 3rem;
  flex-wrap: wrap;
}

.contactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactIcon {
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}

.contactLink {
  text-decoration: none;
}

.contactText {
  font-size: 1.1rem;
  color: #e0e0e0;
}
