.experience-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-content {
  justify-content: center;
  max-height: 60vh;
  max-width: 60vw;
  padding: 2rem;
  margin-top: 1.5rem;
}

.experience-subtitle {
  font-size: 1.2rem;
  color: #34e397;
  margin-bottom: 0.5rem;
}

.experience-title {
  color: #d9d9d9;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.experience-body {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.experience-listItem {
  display: flex;
  border: 2px dashed #34e397;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.experience-listIcon {
  font-size: 1.8rem;
  color: #34e397;
  margin-right: 0.5rem;
  margin-top: 1.5rem;
}

.experience-listTitle {
  color: #d9d9d9;
  font-size: 1.8rem;
  margin-bottom: -0.25rem;
}

.experience-listDescription {
  color: #ffffff;
  font-size: 1.1rem;
}

.experience-listContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25rem;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
